@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 250px;
}

p {
    font-family: $font-family-serif;
    font-size: 18PX;
}

//BLOQUE COMPLIQUER POUR LE BIG TITLE, COMPRENDRE LE CODE
.hero-scene{
    position:relative;
    &::before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-image: url(../images/mini-golf-4494100_1280.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }

    *{ //Tout le contenu sera générer devant
        position: relative;
    }
}

.hero-scene-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


.justify-text {
    text-align: justify;

}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}